* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Libre Baskerville", serif;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.backgroundToggle {
  background-color: rgba(0, 0, 0, 0.568);
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 40px;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .toggle, #header .logo {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  color: red;
}

#header .toggle:hover, #header .logo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

#header .logo {
  color: red;
}

#header .logo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

#sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.568);
  overflow-x: hidden;
  padding-top: 300px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#sideNav .aboutMenu, #sideNav .exploreMenu, #sideNav .contactMenu {
  cursor: pointer;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 2em;
  color: white;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#sideNav .aboutMenu:hover, #sideNav .exploreMenu:hover, #sideNav .contactMenu:hover {
  color: #52442b;
}

#sideNav .toggleClose {
  position: absolute;
  top: 20px;
  right: 35px;
  font-size: 36px;
  margin-left: 50px;
  color: transparent;
  cursor: pointer;
  background: -webkit-gradient(linear, left bottom, left top, from(#e5cb7a), color-stop(45%, #450101), color-stop(45%, #32c704), color-stop(60%, #e5cb7a));
  background: linear-gradient(0deg, #e5cb7a 0%, #450101 45%, #32c704 45%, #e5cb7a 60%);
  background: -webkitlinear-gradient(0deg, #e5cb7a 0%, #450101 45%, #32c704 45%, #e5cb7a 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

#sideNav .toggleClose:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

section {
  margin-bottom: 5em;
}

#showcase {
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #111;
  color: #fff;
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
}

#showcase .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #52442b;
  mix-blend-mode: overlay;
}

#showcase .text {
  position: relative;
  z-index: 10;
}

#showcase .text h2 {
  font-size: 5em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}

#showcase .text p {
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

#showcase .text a {
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  background: white;
  padding: 10px 30px;
  text-decoration: none;
  color: black;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  font-weight: 600;
}

#showcase .text a:hover {
  letter-spacing: 6px;
}

#showcase .social {
  position: absolute;
  bottom: 20px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#showcase .social li {
  list-style: none;
}

#showcase .social li a {
  display: inline-block;
  margin-right: 20px;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#showcase .social li a:hover {
  -webkit-transform: scale(0.5) translateY(-15px);
          transform: scale(0.5) translateY(-15px);
  cursor: pointer;
}

#showcase .social li a .fa-twitter {
  color: #1DA1F2;
}

#showcase .social li a .fa-facebook-square {
  color: #4267B2;
}

#showcase .social li a .fa-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

#about, #explore, #contact {
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

#about h2, #explore h2, #contact h2 {
  font-size: 5em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
}

#about p, #explore p, #contact p {
  font-size: 1.5em;
  margin: 20px 0;
  font-weight: 400;
  text-align: justify;
  text-justify: inter-character;
}

#about .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

#about .slideshow-container .mySlides {
  display: none;
}

#about .slideshow-container .prev, #about .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#about .slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#about .slideshow-container .prev:hover, #about .slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#about .slideshow-container .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

#about .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

#about .dot:hover, #about .active {
  background-color: #717171;
}

#about p {
  max-width: 60em;
}

#explore {
  background-color: #52442bb0;
}

#explore .flex .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

#explore .flex .container .blurb {
  font-size: 1.5em;
}

#explore .flex .container .overlay:hover {
  background: #52442b;
  mix-blend-mode: overlay;
}

#explore .flex .container .overlay:hover span {
  color: white;
}

#contact .contact-form {
  border: 3px solid #52442b;
  margin-bottom: 5em;
  border-radius: 30px;
  -webkit-box-shadow: 0px 4px 10px #52442b;
          box-shadow: 0px 4px 10px #52442b;
}

#contact .contact-form form {
  margin: 35px;
}

#contact .contact-form form .form-input {
  width: 100%;
  height: 3em;
  margin-bottom: 1.5em;
  padding: 5px;
}

#contact .contact-form form textarea {
  line-height: 150%;
  resize: vertical;
}

#contact .contact-form form #submit-button {
  width: 100%;
  padding: 10px;
}

#contact .contact-form form #submit-button:hover {
  background-color: rgba(250, 0, 0, 0.699);
}

#contact .contact-form form #mailto {
  text-align: center;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.568);
  font-weight: 200;
}

footer .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1em;
}

footer .flex ul {
  padding-top: 0.2em;
  list-style: none;
}

footer .flex ul:nth-child(1) {
  margin-right: 2em;
}

footer .flex ul:nth-child(2) {
  margin-left: 2em;
}

@media (max-width: 1024px) {
  #showcase, #about, #explore, #contact {
    padding: 40px;
  }
  #showcase h2, #about h2, #explore h2, #contact h2 {
    font-size: 4em !important;
  }
  #showcase .blurb, #about .blurb, #explore .blurb, #contact .blurb {
    font-size: 1em !important;
  }
  #showcase #mailto, #about #mailto, #explore #mailto, #contact #mailto {
    font-size: smaller;
  }
}

@media (max-width: 640px) {
  #showcase, #about, #explore, #contact {
    padding: 30px;
  }
  #showcase h2, #about h2, #explore h2, #contact h2 {
    font-size: 3em !important;
  }
  #showcase .blurb, #about .blurb, #explore .blurb, #contact .blurb {
    font-size: 0.8em !important;
  }
}
/*# sourceMappingURL=styles.css.map */